@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: #fd6f00;
  --color-main-dark: #2c1250;
  --animate-slow-spin:spin 5s linear infinite;
  --breakpoint-xs:30rem
}
html {
  font-size: clamp(15px, 1vw + 3px, 50px);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  /* font-family: sans-serif; */
}
